body {
  background: #ffecb6;
  font-family: 'Raleway', sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

#fullscreenCard {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: inherit;
}

#fullscreenCard ~ * {
  display: none;
  height: 0;
  overflow: hidden;
}

#fullscreenCard table{
  width: 200px;
  margin: 30px auto;
}

#fullscreenCard td:first-child{
  text-align: left;
}

#fullscreenCard .invalid{
  text-decoration: line-through red;
  color: red;
}

#board {
  display: inline-block;
  border-collapse: collapse;
  float: left;
  background: white;
}

#board div {
  display: table-row;
}

#board span {
  display: table-cell;
  width: 80px;
  height: 80px;
  border: solid 5px gray;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

#board span.disabled{
  /*
    This doesn't prevent it from triggering click events, but it does prevent the
    cursor from appearing like it can be clicked.
  */
  pointer-events: none;
  background: lightgray;
  color: gray;
}


#wordList{
  display: inline-block;
  width: 400px;
  height: 345px;
  margin-left: 30px;
}

#timer {
  background: #1a1a1a;
  color: white;
  padding: 10px;
  font-size: 36px;
  font-family: monospace;
  display: block;
  margin: 30px auto;
  width: 150px;
  text-align: center;
  border: #754300 solid 5px;
  border-radius: 3px;
}

#timer.warning{
  animation: warning 2.5s infinite;
}

@keyframes warning{
  0% {
    background: #1a1a1a;
  }

  50% {
    background: #b62b2b;
  }
}

button{
  padding: 10px;
  border-radius: 3px;
  border: none;
  background: #754300;
  color: white;
  position: relative;
  overflow: hidden;
}

button::after{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: ' ';
  opacity: .2;
}

button:hover::after{
  background: rgb(255,255,255);
}

button:focus::after{
  background: rgb(255, 211, 135);
  opacity: .4;
}

button:active::after{
  background: rgb(0,0,0);
}

button:disabled{
  background: gray;
}

#buttonContainer {
  margin: 30px;
  text-align: center;
}

/**
 * Table rotation - add any of these classes
 * to the board div in order to rotate the board
 */
#board.rot90{
  transform: rotate(90deg);
}

#board.rot90 span {
  transform: rotate(-90deg);
}

#board.rot180{
  transform: rotate(180deg);
}

#board.rot180 span {
  transform: rotate(-180deg);
}

#board.rot270{
  transform: rotate(270deg);
}

#board.rot270 span {
  transform: rotate(-270deg);
}
